/**
*	General Layout
**/
body
{
	font-family: 'Raleway';
}
.navbar
{
	border-bottom-style: solid;
	//border-color : #98ADB0;
	background-color : #34495e;
	color : white;
	margin-bottom: 0px;
}

.navbar-title
{
	margin-top : 15px;
	margin-bottom : 15px;
	text-align: center;	
}

.navbar-logo
{
	margin-left : 14px;
	position : absolute;
	left : 480px;
	top : -22px;
}

.navbar-button
{
	position : absolute;
	top : 0;
	left : 0;
	width : 50px;
	height: 50px;
	background-image: url('../img/menu.png');
	background-repeat:no-repeat;
}

.bg
{
	background-image: url("../img/bg2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size : 110%;


}

.centered-message
{
	padding-top : 15%;
	padding-bottom: 15%;


}

.marketing-container
{
	border-radius: 50%;
	background : green;
	width :  100%;
	height : 100%;
}

/**
*	Specific Layout
**/

#quote-container
{
	background-color : #ecf0f1;
	//color : white;
	padding : 5%;
}

#marketing
{
	padding-top : 5%;
	padding-bottom : 5%;
}

#contact
{
	background-color : #34495e;
	color : white;
	padding : 5%;
}
/**
*	Helper classes
**/

.button
{
	
	color : white;
	border-width: 5px;
	padding : 8px 18px 8px 18px;
	border-radius : 10px;
	background-color: #D75D48;
	border-bottom-style: solid;
	border-bottom-color : #ad4a39;
	border-bottom-width: 5px;

}

.button:hover
{
	border-bottom-width : 0px;
}

#submit-button
{
	border-radius: 0px;
	color : white;
	border-width: 2px;
	padding : 8px;
	background-color: #D75D48;
	border-bottom-style: solid;
	border-bottom-color : #ad4a39;
	border-bottom-width: 3px;
}

#email
{
	padding : 8px;
	color : black;
}

.big-text
{
	font-size: 4em;
}

.big-icon
{
	font-size : 5em;	
}

.red-text
{
	color :#D75D48;
}

.blue-text
{
	color : #34495e;
}

.turquoise-text
{
	color : #1abc9c;
}

.text-justify
{
	text-align : justify;
}
