/**
*	General Layout
**/
body
{
	font-family: 'Montserrat';
}
.navbar
{
	border-bottom-style: solid;
	border-color : #98ADB0;
	background-color : #34495e;
	color : white;
	margin-bottom: 0px;
}

.navbar-title
{
	margin-top : 15px;
	margin-bottom : 15px;
	text-align: center;	
}

.navbar-button
{
	position : absolute;
	top : 0;
	left : 0;
	width : 50px;
	height: 50px;
	background-image: url('../img/menu.png');
	background-repeat:no-repeat;
	background-position: center;
}

.centered-message
{
	padding-top : 20%;
	padding-bottom: 15%;
}

.marketing-container
{
	border-radius: 50%;
	background : green;
	width :  100%;
	height : 100%;
}

/**
*	Specific Layout
**/

#quote-container
{
	background-color : #98ADB0;
	color : white;
	padding : 5%;
}

#marketing
{
	padding-top : 5%;
	padding-bottom : 5%;
}

#contact
{
	background-color : #98ADB0;
	color : white;
	padding : 5%;
}
/**
*	Helper classes
**/

.button
{
	
	color : white;
	border-width: 2px;
	padding : 8px;
	background-color: #D75D48;
	border-bottom-style: solid;
	border-bottom-color : #ad4a39;
	border-bottom-width: 3px;

}

#submit-button
{
	border-radius: 5px;
	color : white;
	border-width: 2px;
	padding : 8px;
	background-color: #D75D48;
}

#email
{
	padding : 8px;
	color : black;
}

.big-icon
{
	font-size : 5em;	
}

.color-bg
{
	background : pink;
}

.red-text
{
	color :#D75D48;
}

.turquoise-text
{
	color : #1abc9c;
}
